@media (max-width: 375px) {
#content img{
width:230px;
margin:10px;
}
aside{
width:70px;
}
#content{
height:1700px;
}
}
@media (min-width: 425px) {
aside{
width:100px;
}
#content{
height:1300px;
}
#content img{
width:300px;
height:200px;
}
}
@media (min-width: 480px) {
aside{
width:100px;
}
button{
font-size:20px;
}
#content{
height:1300px;
}
}
@media (min-width: 768px) {
#content{
height:800px;
}
#content img{
width:300px;
height:200px;
}
button{
font-size:20px;
}
aside{
width:130px;
}
}
@media (min-width: 1280px) {
}
