body{
min-height:100vh;
background-color:#CC8645;
}
.street{
width:100%;
height:100%;
position:relative;
}
.mapMain{
display:flex;
justify-content:space-evenly;
flex-direction:column;
}
.image-wrapper{
display:flex;
align-items:center;
justify-content:space-evenly;
flex-direction:row;
flex-wrap:wrap;
position:relative;
gap:10px;
width:100%;
height:270px;
}
.map-wrapper{
display:flex;
justify-content:center;
align-items:center;
height:500px;
}
.image-wrapper img{
width:clamp(120px, 10vw, 270px);
height:clamp(80px, 10vw, 200px);
}